# MongoDB Connection URI (Atlas or Local)
MONGO_URI=mongodb+srv://zadafiyadhruv_db_user:YOUR_PASSWORD@cluster0.h1togyr.mongodb.net/stockdb?appName=Cluster0

# Gmail SMTP Sender Email Address
EMAIL=liveupdate377@gmail.com

# Gmail SMTP App Password (16-character code)
APP_PASSWORD=your_gmail_app_password
